<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6F9P1BZRP"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/33.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M6F9P1BZRP');
    </script>

    <title>Torres Richard</title>
    <!-- Google tag (gtag.js) -->
    
    

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="#home" class="active">Inicio</a>
            <a href="#about">Sobre Me</a>
            <a href="#services">conocimientos</a>
            <a href="#portfolio">Portafolio</a>
            <a href="#contact">Contacto</a>
        </nav>

        <div class='bx bx-moon' id="darkMode-icon"></div>

        <div class='bx bx-menu' id="menu-icon"></div>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hola, soy</h3>
            <h1>Torres Richard</h1>
            <p>Mi enfoque en la tecnología y el desarrollo me ha llevado a convertirme en un autodidacta, siempre buscando aprender nuevas habilidades y mantenerme actualizado con las últimas tendencias en desarrollo web</p>

            <div class="social-media">
                <a href="https://www.facebook.com/richard.torres.5680l"><i class='bx bxl-facebook' ></i></a>
                <a href="https://github.com/TorresRichardtorrot"><i class='bx bxl-github'></i></a>
                <a href="https://www.instagram.com/richardcamilo_torres"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="https://www.linkedin.com/in/richard-torres-84b69527a"><i class='bx bxl-linkedin' ></i></a>
            </div>  
            
            <a href="/cv/Currículum.pdf" class="btn" download >Download CV</a>

        </div>

        <div class="profession-container">
            <div class="profession-box">
                <div class="profession" style="--i:0">
                    <i class='bx bx-code-alt'></i>
                    <h3>web Developer</h3>
                </div>
                <div class="profession" style="--i:1">
                    <i class='bx bx-code-alt'></i>
                    <h3>web Developer</h3>
                </div>
                <div class="profession" style="--i:2">
                    <i class='bx bx-code-alt'></i>
                    <h3>web Developer</h3>
                </div>
                <div class="profession" style="--i:3">
                    <i class='bx bx-code-alt'></i>
                    <h3>web Developer</h3>
                </div>
                <div class="circle"></div>
            </div>
            <div class="overlay"></div>
            <div class="home-img">
                <img src="/img/home.png" alt="">
            </div>
        </div>
        
    </section>

    <section class="about" id="about">

        <div class="about-img">
            <img src="/img/about.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Acerca de <span>Mí</span></h2>
            <h3>¡Hola, estoy aquí para ayudarte en tu próximo proyecto!</h3>
            <p>Soy un aprendiz del desarrollo web con una mentalidad autodidacta y un gran deseo de mejorar como programador. Mi camino en el mundo del desarrollo web empezó con ilusión, y desde entonces no he parado de explorar y aprender nuevas tecnologías y lenguajes. Me encanta afrontar retos y resolver problemas de forma creativa. Cada proyecto es una oportunidad para expandir mis habilidades y conocimientos, y siempre estoy buscando nuevas formas de mejorar mis soluciones y crear experiencias web impactantes.</p>
                  <!-- <a href="#" class="btn">Read More</a> -->
        </div>

    </section>

    <section class="services" id="services">
        <h2 class="heading">mis <span>conocimiento</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class='bx bxl-html5' ></i>
                <h3>HTML5</h3>
                <p>Mi dominio en el uso de elementos como encabezados, párrafos, listas, formularios y enlaces garantiza la construcción de páginas interactivas y funcionales. Además, estoy al tanto de las últimas tendencias y estándares HTML, lo que me permite mantener mis desarrollos actualizados y compatibles con diversas plataformas y navegadores.</p>
                      <!-- <a href="#" class="btn">read More</a> -->
            </div>
            <div class="services-box">
                <i class='bx bxl-css3' ></i>
                <h3>CSS3</h3>
                <p>Tengo experiencia en la creación de diseños responsivos y adaptativos, lo que garantiza una experiencia óptima tanto en dispositivos móviles como de escritorio. Mi habilidad para trabajar con flexbox y grid facilita la creación de diseños complejos y modernos.</p>
                      <!-- <a href="#" class="btn">read More</a> -->
            </div>
            <div class="services-box">
                <i class='bx bxl-javascript' ></i>
                <h3>javascript</h3>
                <p>Mis conocimientos de JavaScript me permiten implementar funciones avanzadas como formularios interactivos, validaciones de datos y la creación de efectos visuales a través de animaciones y transiciones. Además, tengo experiencia en el uso de librerías y frameworks populares.</p>
                      <!-- <a href="#" class="btn">read More</a> -->
            </div>
            <div class="services-box">
                <i class='bx bxl-nodejs' ></i>
                <h3>Node.js</h3>
                <p>Gracias a lo que he aprendido sobre Node.js, puedo desarrollar servidores web y aplicaciones en tiempo real de manera eficiente. Tengo experiencia creando APIs RESTful e implementándolas. de funcionalidades avanzadas usando frameworks como Express.js. Esto me permite diseñar y crear servicios sólidos que respondan a las solicitudes de los clientes de manera rápida y eficiente. Además, estoy familiarizado con el uso de administradores de paquetes. como npm, lo que facilita la integración de bibliotecas y módulos externos en mis proyectos. He trabajado con bases de datos no relacionales como MongoDB y puedo manejar consultas y operaciones de manera eficiente.</p>
                      <!-- <a href="#" class="btn">read More</a> -->
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Proyecto <span>más reciente</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="/img/shadow2.PNG" alt="">

                <div class="portfolio-layer">
                    <h4>Punto de venta en una Web</h4>
                    <p>Implementé un punto de venta en una web con HTML,CSS,JavaScript y Node.js</p>
                    <div class="portfolio-btns">
                        <a href="http://shadowsell.onrender.com" target="_blank" title="Ir a shadowsell"><i class='bx bx-link-external'></i></a>
                        <a href="https://github.com/TorresRichardtorrot/Shadow.git" target="_blank" title="Ir a github"><i class='bx bxl-github'></i></a>
                    </div>
                        
                </div>
            </div>
            <div class="portfolio-box">
                <img src="/img/fondo-blanco.jpg" alt="">

                <div class="portfolio-layer">
                    <h4>Red social</h4>
                    <p>En desarrollo</p>
                        <div class="portfolio-btns">
                            <a href="#"><i class='bx bx-link-external'></i></a>
                            <a href="#"><i class='bx bxl-github'></i></a>
                        </div>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="/img/fondo-blanco.jpg" alt="">

                <div class="portfolio-layer">
                    <h4>Clinica</h4>
                    <p>En desarrolo</p>
                        <div class="portfolio-btns">
                            <a href="#"><i class='bx bx-link-external'></i></a>
                            <a href="#"><i class='bx bxl-github'></i></a>
                        </div>
                </div>
            </div>
           

        </div>
    </section>


    <!-- <div class="testimonial-conatiner">
        <h2 class="heading">Testimonio<span> valioso</span></h2>

        <div class="testimonial-wrapper">
            <div class="testimonial-box mySwiper">
                <div class="testimonial-content swiper-wrapper">
                    <div class="testimonial-slide swiper-slide">
                        <img src="/img/testimonio.avif" alt="">
                        <h3>Beatriz</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Ut, in porro eius totam nobis perferendis laudantium
                              soluta omnis, dolores fugiat id laboriosam fuga expedita
                               harum ratione corporis, sint delectus blanditiis.
                               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                               Ut, in porro eius totam nobis perferendis laudantium
                                soluta omnis, dolores fugiat id laboriosam fuga expedita
                                 harum ratione corporis, sint delectus blanditiis.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="/img/testimonio.avif" alt="">
                        <h3>Beatriz</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Ut, in porro eius totam nobis perferendis laudantium
                              soluta omnis, dolores fugiat id laboriosam fuga expedita
                               harum ratione corporis, sint delectus blanditiis.
                               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                               Ut, in porro eius totam nobis perferendis laudantium
                                soluta omnis, dolores fugiat id laboriosam fuga expedita
                                 harum ratione corporis, sint delectus blanditiis.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="/img/testimonio.avif" alt="">
                        <h3>Beatriz</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Ut, in porro eius totam nobis perferendis laudantium
                              soluta omnis, dolores fugiat id laboriosam fuga expedita
                               harum ratione corporis, sint delectus blanditiis.
                               Lorem ipsum dolor sit amet consectetur adipisicing elit.
                               Ut, in porro eius totam nobis perferendis laudantium
                                soluta omnis, dolores fugiat id laboriosam fuga expedita
                                 harum ratione corporis, sint delectus blanditiis.</p>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div> -->

    <section class="contact" id="contact">
        
        <h2 class="heading">Contácta<span>me!</span></h2>

        <form id="form-contact">
            <div class="input-box">
                <input type="text"  id="name" placeholder="Nombre completo">
                <input type="email" id="email" placeholder="Direccíon de correo electrónico">
            </div>
            <div class="input-box">
                <input type="number" id="number" min="0" placeholder="Número de teléfono">
                <input type="text" id="subject" placeholder="Asunto del email">
            </div>
            <textarea name="" id="message" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
            <input type="submit" value="Enviar mensaje" id="btn-send" class="btn">
        </form>
    </section>

    <footer class="footer">
        <div class="footer-text">
             <p>Copyright &copy; 2023 by Torres Richard | All Rights Reserved.</p>   
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>

    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>